TactiX/proj.ios/TactiX.xcodeproj/project.xcworkspace/contents.xcworkspacedata
TactiX/proj.ios/TactiX.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
TactiX/proj.ios/TactiX.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/TactiX.xcscheme
TactiX/proj.ios/TactiX.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/xcschememanagement.plist
TactiX/proj.mac/TactiX.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
libs/cocos2dx/proj.ios/cocos2dx.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/cocos2dx.xcscheme
libs/cocos2dx/proj.ios/cocos2dx.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/xcschememanagement.plist
